fairscale
flask
google-cloud-storage
hydra-core
jupyter
librosa~=0.8.0
matplotlib~=3.4.1
numpy
optuna
pytest
python-levenshtein
pytorch-lightning>=1.1
scipy
sklearn~=0.0
sox~=1.4.1
torch~=1.8.1
torchaudio~=0.8.1
torchelastic
tqdm~=4.60.0
wget
git+https://github.com/romesco/hydra-lightning/#subdirectory=hydra-configs-pytorch-lightning
requests~=2.25.1
omegaconf~=2.0.6
six~=1.15.0
levenshtein~=0.12.0
scikit-learn~=0.24.2